
        <h2>
            Purchase Invoice <button type="button" class="btn btn-primary " ui-sref="app.purchaseinvoiceForm({Code:'0'})"><span class="glyphicon glyphicon-plus"></span>Add</button>
        </h2>

   
        <table id="purchaseinvoiceTbl" class="table" style="width:100%">
            <thead>
                <tr>
                    <th>Invoice Number</th>
                    <th>Company Code</th>
                    <th>Supplier Code </th>
                    <th>Shipping Address</th>
                    <th>#</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="purchaseinvoice in purchaseinvoices">
                    <td>{{purchaseinvoice.InvoiceNo}}</td>
                    <td>{{purchaseinvoice.CompanyCode}}</td>
                    <td>{{purchaseinvoice.SupplierCode}}</td>
                    <td>{{purchaseinvoice.ShippingAddress}}</td>
                    
                    <td><button type="button" ui-sref="app.purchaseinvoiceForm({Code:'{{purchaseinvoice.Id}}'})" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span>Edit</button></td>
                    <td><button type="button" class="btn btn-danger" ng-click="showDelete(purchaseinvoice)"><span class="glyphicon glyphicon-remove"></span>Delete</button></td>
                </tr>
            </tbody>
        </table>

