
        <h2>
            Supplier <button type="button" class="btn btn-primary btn-sm" ui-sref="app.supplierForm({Code:'0'})"><span class="glyphicon glyphicon-plus"></span>Add</button>
        </h2>

    
        <table id="supplierTbl" class="table" style="width:100%">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Contact Person</th>
                    <th>Mobile No</th>
                    <th>#</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="supplier in suppliers">
                    <td>{{supplier.CompanyName}}</td>
                    <td>{{supplier.ContactPerson}}</td>
                    <td>{{supplier.MobileNo}}</td>
                    <td><button type="button" ui-sref="app.supplierForm({Code:'{{supplier.Code}}'})" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-pencil"></span>Edit</button></td>
                    <td><button type="button" class="btn btn-danger btn-sm" ng-click="showDelete(supplier)"><span class="glyphicon glyphicon-remove"></span>Delete</button></td>
                </tr>
            </tbody>
        </table>
   
