<div class="modal-header modal-header-danger">
    <h4 class="modal-title"><span class="glyphicon glyphicon-question-sign"></span>&nbsp; Confirmation</h4>
</div>
<div class="modal-body">
    <div>
        If you close <b>without saving</b> all progress would be lost.
    </div>
    <div>
        Still want to close ?
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Yes</button>
    <button class="btn btn-warning" ng-click="cancel()">No</button>
</div>