<div class="row main-section main-section-registrationsuccess">
    <div class="col-md-4 col-sm-6 col-xs-10 col-md-offset-4 col-sm-offset-3 col-xs-offset-1 login-image-main text-center">
            <div class="text-xs-center">
                    <p class="display-4"><h1>Thanks For Registration!</h1></p>

                    <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your <strong>account setup.</strong></p>
                    <p>
                        <a class="btn btn-primary btn-md" role="button" ui-sref="login">Sign in</a>
                    </p>
                </div>
            </div>
        </div>
<toaster-container toaster-options="{'close-button':false ,'time-out': 3000}"></toaster-container>